.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.42857;
  color: #555;
  box-shadow: 3px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}