header {
  min-width: 1120px;
  height: 147px;
  position: relative;
  width: 100%;
  display: block;
}

nav {
  height: 90px;
  box-shadow: none;
  min-width: 1120px;
  position: fixed;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, .95);
  width: 100%;
  display: block;
}

.main-menu {
  width: auto;
  margin: 0 auto;
  display: block;
}

.logo {
  margin-top: 33px;
  width: 70px;
  height: 25px;
  float: left;
  cursor: pointer;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  color: #00b900;
}

ul {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.primary-list {
  margin-left: 104px;
  float: left;
  height: 90px;
}

li {
  display: inline-block;
  font-size: 1.0625rem;
  padding: 23px 25px;
  line-height: 44px;
  font-weight: 400;
}

li:hover {
  color: #00b900;
}

.primary-link {
  display: block;
  cursor: pointer;
}

.secondary-wide {
  height: 184px;
  width: 100%;
  left: 0;
  top: 90px;
  background-color: hsla(0, 0%, 94%, .95);
  position: absolute;
  z-index: 100;
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s ease-in-out;
}

.secondary-wide div {
  display: block;
  font-size: .875rem;
  color: #000;
  cursor: pointer;
}

.secondary-inner {
  width: 1120px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.secondary-inner ul {
  display: inline;
  position: relative;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.second-children li {
  padding: 0;
  margin-right: 32px;
  display: inline-block;
  vertical-align: top;
}

.third-list {
  display: block;
  position: static;
}

.third-list li {
  display: block;
  line-height: 30px;
  float: none;
  margin: 0;
}