.editor-body {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px; /* footerの高さ */
}

.editor-footer {
  background: #eee;
  border-top: 1px solid #ddd;
  bottom: 0; /* 下に固定 */
  height: 41px;
  position: fixed!important;
  padding: 30px 0;
  width: 100%;
}

.editor-save {
  float: right;
}

.editor-save-submit {
  float: left;
  margin-left: 10px;
}

.editor-submit {
  vertical-align: top;
}

b-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}