.editor-body {
  top: 86px;
  bottom: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.editor-footer {
  width: 100%;
  height: 41px;
  position: fixed!important;
  padding: 4px 10px;
  background: #eee;
  border-top: 1px solid #ddd;
}

.editor-save {
  float: right;
}

.editor-save-submit {
  float: left;
  margin-left: 10px;
}

.editor-submit {
  vertical-align: top;
}

b-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}