.welcome-background {
  background-image: url("~@/assets/sample-airplane.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}