footer {
  color: #000;
}

nav {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.footer {
  border-top: 1px #efefef solid;
  font-size: 1.0625rem;
}

.footer div {
  display: block;
}

.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0;
  widows: auto;
}

.footer-menu-container {
  display: block;
}

ul {
  border: 0;
  font: inherit;
  font-size: .875rem;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.primary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  list-style-image: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  overflow: hidden;
  padding-inline-start: 40px;
}

.primary-list li {
  margin: 0 1em;
  display: list-item;
}

.copy-right {
  text-align: center;
  font-size: 12px;
}

.footer-item {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  transition: all ease .3s;
}

.footer-item:hover{
  color: #00b900;
}