footer {
  color: #1e253c;
}

.footer1 {
  background: #fff;
  border-top: 1px #efefef solid;
  font-size: 1.0625rem;
}

.footer1 div {
  display: block;
}

.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 0;
  widows: auto;
}

.footer-menu-container {
  display: block;
}

.primary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  overflow: hidden;
}

.primary-list li {
  margin: 0 1em;
  display: list-item;
}