<div>
  <footer>
    <div class="footer1">
      <div class="wrap">
        <nav class="footer-menu-container">
          <ul class="primary-list">
            <router-link tag="li" to="/">お問い合わせ</router-link>
            <router-link tag="li" to="/">お問い合わせ</router-link>
            <router-link tag="li" to="/">お問い合わせ</router-link>
            <router-link tag="li" to="/">お問い合わせ</router-link>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer2">
      <div class="wrap">
        <p class="copy-right">
          © Copyright 2020 
          <router-link to="/">MARK BLOG</router-link>
           All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</div>