<div>
  <footer>
    <div class="footer">
      <div class="wrap">
        <nav class="footer-menu-container">
          <ul class="primary-list">
            <router-link class="footer-item primary-list-item" tag="li" to="/">プロフィール</router-link>
            <router-link class="footer-item primary-list-item" tag="li" to="/">略歴</router-link>
            <router-link class="footer-item primary-list-item" tag="li" to="/">利用規約</router-link>
            <router-link class="footer-item primary-list-item" tag="li" to="/">ヘルプ</router-link>
            <router-link class="footer-item primary-list-item" tag="li" to="/">お問い合わせ</router-link>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer">
      <div class="wrap">
        <p class="copy-right">
          © Copyright 2020 
          <router-link class="footer-item" to="/">Polaris</router-link>
           All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</div>